@(username: String, sessionId: String)(implicit request:RequestHeader)

@main("Lookitt") {
    <div id="editor" data-toggle="popover">

        <pre data-resource="file" id="container" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, <span>sed do eiusmod</span> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </pre>
        <button id="submit">Lookitt!</button>
    </div>

    <script type="text/javascript">
        $(function() {
            var session = new lookitt.Session("ws://@request.host@routes.Coding.sessionSocket(sessionId, username)", '@username');
            var debugHandler = {'session': session, 'id' : session.attach(function(message){
                console.log(message.content)
                return message;
            })};
            var editor = new lookitt.Editor(session, 'editor');
            var timeline = new lookitt.Timeline(session);
        })
        $.ajax('@routes.Repository.getResource("file:///home/valentin/data/src/cms/api-impl/src/main/java/com/fullsix/edito/init/InitBean.java")').success(function(data, status, xhr){
            $('#container').text(data)
            var filetype = xhr.getResponseHeader('lookitt.filetype') || "java";
            $('#container').snippet(filetype,{'style': 'vim-dark', 'box':'2,4-6'})
        })
    </script>
}